* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

/* --- Welcome Page Styles --- */
body {
  background-image: url(/images/background.jpg);
  background-position: center;
  background-size: cover;
  color: #fefefe;
  font-family: 'Lato', sans-serif;
  margin-top: 10%;
}

a.navbar-brand {
  font-family: 'Cookie', cursive;
  letter-spacing: 5px;
  font-weight: 300;
}

.container {
  height: 100%;
  position: relative;
  padding-bottom: 5%;
}

footer.branding {
    border-top: 2px solid #ccc;
    padding-top: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 3%;
}

h1 {
  border-bottom: 3px solid;
  display: inline-block;
  letter-spacing: 2px;
  padding-bottom: 5px;
}

h2,h3,h4 {
  letter-spacing: 2px;
}

.index {
  height: 80vh;
}

/* BREWERIES  */
.brewery-card {
  background-color: #F0ECE3;
  color: #333;
  height: 200px;
  padding: 22px 20px;
  margin-bottom: 8%;
  border: 1.5px solid rgb(208, 131, 28);
}

/* BREWERIES SHOW  */
.brewery-show {
  margin: 0 auto;
  padding: 5%;
  border: 1.5px solid rgb(208, 131, 28);
}

/* BRANDS */
.brand-card {
  background-color: #F0ECE3;
  color: #333;
  border: 1.5px solid rgb(208, 131, 28);
  height: 180px;
  padding: 18px;
  margin-bottom: 8%;
}

/* BOTTUN */
.btn {
  background-color: rgb(208, 131, 28);
  color: #fefefe;
  text-transform: uppercase;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 50px;
  border: none;
  font-size: 1em;
  font-weight: 300;
}

.btn:link,
.btn:visited,
.btn-sm:link,
.btn-sm:visited {
  text-decoration: none;
  transition: all 2s;
}

.btn:hover {
  color: rgb(156, 68, 5);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
  transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-sm {
  background-color: rgb(208, 131, 28);
  color: #fefefe;
  padding: 7px 25px;
  display: inline-block;
  border-radius: 50px;
  border: none;
  font-size: 1em;
  font-weight: 300;
}

.btn-sm:hover {
  color: rgb(156, 68, 5);
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.btn-sm:active {
  transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-sm.btn-text {
  font-size: 0.8em;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fefefe;
  font-size: 1.1em;
}

a:hover,
a.link:hover {
  color: rgb(208, 131, 28);
}

a.link:link,
a.link:visited {
  text-decoration: underline;
}

a.btn-sm {
  background-color: rgb(244, 173, 79);
}

/* INPUT */
input {
  padding: 8px 5px;
  border: none;
  border-bottom: 0.5px solid;
  font-size: 1em;
  width: 330px;
}

.input-wrapper {
  padding-bottom: 5%;
}

.input-col {
  width: 60%;
  height: 2em;
  margin: 1% auto;
}

.input-col-title {
  display: inline-block;
  width: 20%;
  text-align: left;
}

form.form-inline {
  display: inline;
}

/* ERROR MESSAGE */
.error-msg {
  color: rgb(242, 85, 27);
}

.success-msg {
  color: rgb(18, 139, 11);
}
