<% if flash.has?(:notice) %>
  <p class="error-msg text-center"><%= flash[:notice] %></p>
<% end %>
<div class="row">
  <div class="col-12 text-center my-3 pt-3">
    <h3>Log in</h3>
  </div>
</div>

<form action="/login" method="post">
  <div class="form-group row w-50 mx-auto">
    <label for="email" class="col-md-3 col-form-label">Email:</label>
    <div class="col-md-9">
      <input class="form-control" type="email" name="email" required>
    </div>
  </div>

  <div class="form-group row w-50 mx-auto">
    <label for="password" class="col-md-3 col-form-label">Password:</label>
    <div class="col-md-9">
      <input class="form-control" type="password" name="password" required>
    </div>
  </div>

  <div class="text-center">
    <input type="submit" value="Log In" class="btn-sm my-5">
  </div>
</form>

<div class="row">
  <div class="col-12 text-center">
    <p class="my-3">Need to sign up?</p>
    <a href="/signup" class="btn-sm mb-5">Sign Up</a>
  </div>
</div> <!-- the end of row  -->
