<h1>Register Your Brand</h1>

<form action="/brands" method="post">
  <div class="input-col">
    <label for="name">Brand Name: </label>
    <input type="text" name="name">
  </div>

  <div class="input-col">
    <label for="style">Style: </label>
    <input type="text" name="style">
  </div>

  <div class="input-col">
    <label for="abv">Alcohole By Volume (ABV): </label>
    <input type="text" name="abv">
  </div>
  <input type="submit" value="Register" class="btn-sm">
</form>
