<% if flash.has?(:notice) %>
  <p class="success-msg"><%= flash[:notice] %></p>
<% end %>
  <div class="row index">
    <div class="col-12 text-center">
      <h3>Welcome to Brewery Club!</h3>
        <a href="/signup" class="btn">Sign Up</a>
        <a href="/login" class="btn">Log In</a>
    </div>
  </div>
