<% if flash.has?(:notice) %>
  <p class="success-msg"><%= flash[:notice] %></p>
<% end %>

<div class="content">
  <div class="row">
    <div class="col-12">
      <h3>Welcome to Brewery Club!</h3>
        <a href="/signup" class="btn">Sign Up</a>
        <a href="/login" class="btn">Log In</a>
    </div>
  </div>
</div>
