<h1>This is index pages!</h1>
<div class="img-wrapper">
   <img src="images/main.jpg" class="img-responsive main-image">
</div>
Join Brewery Club today!
<br>
<a href="/signup">Signup</a>
<br>
<a href="/login">Login</a>
